*.swp
*.pot
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
config.h
config.h.in
config.log
config.status
configure
data/Makefile
data/Makefile.in
data/tomboy.lens
data/unity-lens-tomboy.service
depcomp
install-sh
intltool-extract.in
intltool-merge.in
intltool-update.in
missing
mkinstalldirs
po/.intltool-merge-cache
po/Makefile
po/Makefile.in
po/Makefile.in.in
po/POTFILES
*.gmo
po/stamp-it
src/.deps/
src/Makefile
src/Makefile.in
src/unity-tomboy-daemon
*.c
*.o
*.stamp
stamp-h1
vapi/Makefile
vapi/Makefile.in
